@mixin buttonUpdateStatus {
    font: inherit;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 0.6rem;
    border: none;
    box-shadow: 0 0.2rem 0.3rem 0 rgba($color-black, 0.25);
    transition: all 0.2s;
    color: $color-white;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0.4rem 0.4rem 0 rgba($color-black, 0.5);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.3rem 0.3rem 0 rgba($color-black, 0.4);
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        } //1800
    }
}
