$color-black: #000;
$color-white: #fff;
$color-grey: #444;
$color-error-text: #c82033;

$color-disabled: #9b9b9a;
$color-approve: #82d77c;
$color-resolved: #e9b92d;
$color-rejected: #da6c3e;

$color-primary: #ed9700;
$color-secondary: #ffab0b;
$color-thirdary: #263165;
